body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 98%;
    padding: 10px 20px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
}


.logout-btn {
    background-color: navy;
    color: white;
    padding: 9px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: normal;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 10%; /* Adjusted to prevent overlap with fixed top bar */
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 400px;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.btn {
    background-color: navy;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: medium;
}

.btn:hover {
    background-color: navy;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}
