body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    }


nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #f7f8f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logout-btn {
    background-color: navy;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: normal;
    margin-left: 90%;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: navy;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logout-btn {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    .menu-icon {
        font-size: 35px;
        margin-bottom: 10px;
    }
}