
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}


header {
    background-color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.menu-icon {
    font-size: 26px;
    color: navy;
    cursor: pointer;
}

.logout {
    background-color: navy;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 85%;
}

.logout:hover {
    background-color: navy;
}


main {
    display: flex;
    flex-wrap: wrap;
}


.left-panel {
    flex: 1 1 500px;
    padding: 40px;
}

.left-panel h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: navy;
}

.info-box {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.status,
.leave-count {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.status.accepted {
    background-color: green;
    }

    .status.rejected {
        background-color: red;
        color: #fff;
    }

    .status.pending {
        background-color: yellow;
        color: #000;
}

.leave-count {
    background-color: #cce5ff;
    color: #004085;
}

.leave-history {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: navy;
    font-weight: bold;
    font-size: 1em;
    transition: 0.3s;
}

.leave-history:hover {
    text-decoration: underline;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 0.95em;
    font-weight: bold;
    color: navy;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid navy;
    border-radius: 4px;
    font-size: 1em;
}

textarea {
    resize: none;
}

.submit {
    background-color: navy;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
}

.submit:hover {
    background-color: darkblue;
}


.right-panel {
    flex: 1 1 400px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-panel img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .left-panel,
    .right-panel {
        padding: 20px;
    }

    .submit {
        width: 100%;
    }
}