body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    background-color: #fefeff;
    padding: 15px;
}

.logout-btn {
    background: navy;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.logout-btn {
    margin-left: 80%;
    font-size: normal;
}

h2 {
    text-align: left;
    margin: 20px 0;
    color: navy;
}

.table-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    min-width: 600px;
}

thead {
    background: navy;
    color: white;
}

td, th {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid navy;
    white-space: nowrap;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    .menu-btn, .logout-btn {
        padding: 8px 12px;
        font-size: 14px;
    }

    .table-container {
        padding: 10px;
    }

    table {
        min-width: 100%;
    }
}
